/**/
/*Init variables*/
:root{
    --main-color: #32373B;
    --accent-color: aquamarine;

    --rozequartz: #C1AEB8;
}

/*body*/
body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times;
    font-size: large;
    line-height: 1.5;

    display: grid;
    grid-template-columns: auto 1fr;

    height: 100%;
    margin: 0;
    padding: 0;
}

/*Navigation*/

#sidebar{
    background-color: var(--main-color);
    height: 100vh;
    width: 0px;

    overflow: hidden;
    position: sticky;
    top: 0;
    align-self: self-start;

    transition-property: width;
    transition-duration: 1s;
}

#sidebar > ul{
    list-style: none;
    padding-left: 0;
}

#sidebar a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color : lightgray;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    display: flex;
    padding: 1rem;
}

#sidebar ul li.active a{
    color: var(--accent-color);
}

#sidebar a:hover, #sidebar li:hover {
    background-color: gray;
}

#sidebar.active{
    width: 170px;
}

/*Headers*/
.headers {
    margin-left: 10px;
    font-variant: small-caps;
}

.credentials{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    align-self: self-start;
}

.credentials p a{
    color: lightgray;
}

.credentials a, .credentials p, .credentials i{
    margin: 5px !important;
    align-content: center;
}

#bars-icon, #github-icon{
    color: white;
}

.credentials > div{
    display: flex;
}

/*Text*/
div p:first-child {
    margin-left: 20px;
    text-align: justify;
    text-indent: 40px;
}

div p {
    margin-top: 0;
    margin-left: 20px;
    text-align: justify;
    text-indent: 0px;
}

.emphesise {
    font-style: oblique;
    color: var(--main-color);
}

.info-i{
    font-style: italic;
    font-size: medium;
}

.info-i::before{
    content: '(';
}

.info-i::after{
    content: ')';
}

#github-icon, #bars-icon {
    font-size: 200% !important;
}

/*Lists*/
    /*Dictionary*/
dl  {
    margin-left: 30px;
}

dt {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

dd {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
/*Tables*/
    /*All Tables*/
table{
    border: 2px solid black;
    justify-self: center;
}

tr {
    vertical-align: top;
}

td {
    padding: 5px;
}

td > p {
    font-size: small;
}

table p{
    margin: 0px !important;
}

thead {
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

    /*Albums Table*/
#albums-table {
    width: 300px;
}

#albums-table td {
    border: 2px solid black;
}

    /*Songs Table*/
#songs-table {
    width: 50%;
}

.album {
    background-color: var(--rozequartz);
    text-align: center;
    align-content: center;
}

.album-summary {
    text-align: center;
    background-color: var(--rozequartz);
}

/*Containers*/
.main-container {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 10px;
}

.main-container p:first-child{
    margin-left: 10px;
    margin-top: 0px;
}

.main-container p{
    margin-left: 10px;
    margin-top: 10px;
}

.content-conteiner{
    width: 95%;
}

.content-conteiner ol{
    position: relative;
    left: 40%;
}

/*Drag'n'Drop*/
.drag-over-top td {
    border-top: 3px solid var(--rozequartz) !important;
}

.drag-over-bottom td {
    border-bottom: 3px solid var(--rozequartz) !important;
}

.hovered-row {
    background-color: var(--main-color);
    color: white;
}

#album-game {
    height: max-content;
    width: max-content;
    justify-self: center;
    border: 2px solid #32373B
}

#album-game > :first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки — по одній на кожен рік */
    grid-template-rows: auto auto;         /* 2 рядки — роки + блоки під ними */
}

#album-game > :first-child .year {
  background-color: #444;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#album-game > :first-child .place {
  padding: 20px;
  border: 1px #32373B solid;
  height: 50px;
}

#album-pool {
    min-height: 50px;
}