/**/
/*Init variables*/
:root{
    --onyx : #32373B;
    --rozequartz : #C1AEB8;
}

/*body*/
body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times;
    font-size: large;
    line-height: 1.5;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
    padding: 0;
}

/*Links*/
a:link {
    color: black;
}

a:visited {
    color: gray;
}

a:active {
    color: orangered;
}

/*Navigation*/
.nav, #tableOperationsMenu{
    display: flex;
    justify-content: space-around;

    background-color: var(--onyx);
}

.nav a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    padding: 18.4px;
    width: 100%;
}

.nav a:link, .nav a:visited{
    color : lightgray;
}

.nav a:hover {
    background-color: lightgray;
    color : var(--onyx);
}

/*Headers*/
.headers {
    margin-left: 10px;
    font-variant: small-caps;
}

/*Text*/
div p:first-child {
    margin-left: 20px;
    text-align: justify;
    text-indent: 40px;
}

div p {
    margin-top: 0;
    margin-left: 20px;
    text-align: justify;
    text-indent: 0px;
}

.emphesise {
    font-style: oblique;
    color: var(--onyx);
}

.info-i{
    font-style: italic;
    font-size: medium;
}

.info-i::before{
    content: '(';
}

.info-i::after{
    content: ')';
}

/*Lists*/
    /*Dictionary*/
dl  {
    margin-left: 30px;
}

dt {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

dt > h3 {
    font-size: larger;
}

dd {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

    /*Num*/
ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color : #5ab092;

    margin: 10px;
    width: max-content;
}

ol li{
    font-weight: bold;
    position: relative;
    left: 12%;
}

    /*Marked*/
ul {
    width: max-content;
    background-color: var(--onyx);
    color : white;
    list-style-type: none;
    float: left;
}

ul li::before{
    content: "\20aa ";
    padding-right: 5px;
}

ul li::after{
    content: "\20aa ";
    padding-left: 5px;
}

ul a:link {
    color: white;
}

ul a:visited {
    color: var(--rozequartz);
}

ul a:active {
    color: aquamarine;
}

/*Tables*/
    /*All Tables*/
table{
    border: 2px solid black;
}

tr {
    vertical-align: top;
}

td {
    padding: 5px;
}

td > p {
    font-size: small;
}

table p{
    margin: 0px !important;
}

thead {
    background-color: var(--onyx);
    color: white;
    text-align: center;
}

    /*Albums Table*/
#albums-table {
    width: 300px;
    align-self: center;
}

#albums-table td {
    border: 2px solid black;
}

    /*Songs Table*/
#songs-table {
    width: 50%;
    align-self: center;
}

.album {
    background-color: var(--rozequartz);
    text-align: center;
    align-content: center;
}

.album-summary {
    text-align: center;
    background-color: var(--rozequartz);
}

/*Containers*/
.main-container {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 10px;
}

.main-container p:first-child{
    margin-left: 10px;
    margin-top: 0px;
}

.main-container p{
    margin-left: 10px;
    margin-top: 10px;
}

.content-conteiner{
    width: 95%;
}

.content-conteiner ol{
    position: relative;
    left: 40%;
}

iframe {
    float: right;
    width: 900px; height: 570px;
    margin-top: 18px;
}

/*Buttons*/
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-size: large;
    padding: 5px;
    background-color: var(--onyx);
    color: white;
}

/*Drag'n'Drop*/
.drag-over-top td {
    border-top: 3px solid var(--rozequartz) !important;
}

.drag-over-bottom td {
    border-bottom: 3px solid var(--rozequartz) !important;
}

.hovered-row {
    background-color: var(--onyx);
    color: white;
}

#album-game {
    height: max-content;
    width: max-content;
    justify-self: center;
    border: 2px solid #32373B
}

#album-game > :first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки — по одній на кожен рік */
    grid-template-rows: auto auto;         /* 2 рядки — роки + блоки під ними */
}

#album-game > :first-child .year {
  background-color: #444;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#album-game > :first-child .place {
  padding: 20px;
  border: 1px #32373B solid;
  height: 50px;
}

#album-pool {
    min-height: 50px;
}